<div class="space-y-2">

  <h2 class="text-base font-medium mb-3">Review Cart</h2>

  @if(cart.cart().length===0){
    <p class="text-red-600">No items added!</p>
  }

  @for(item of cart.cart(); track item.id){
    <div class="flex justify-between border p-3 rounded-lg items-center">

      <div>
        <h3 class="font-medium">{{ item.name }}</h3>
        <p class="text-sm text-gray-500">{{ item.qty }} {{ item.unitLabel }}</p>
      </div>

      <div class="flex items-center gap-2">

        <input type="number" min="1"
               class="w-20 border p-2 rounded"
               [(ngModel)]="item.qty"
               (ngModelChange)="update(item)" />

        <button class="text-red-600 font-bold" (click)="remove(item)">
          ✕
        </button>

      </div>

    </div>
  }

  <div class="text-right">
    <p class="font-bold text-lg">Subtotal: ₹{{ cart.pricing.subtotal }}</p>
  </div>

  <div class="flex justify-between">
    <button class="px-2 py-3 rounded bg-gray-200" (click)="back.emit()">← Back</button>
    <button class="px-2 py-3 rounded bg-green-600 text-white"
            [disabled]="cart.cart().length===0"
            (click)="next.emit()">
      Continue → Delivery
    </button>
  </div>

</div>
