<div class="p-2">

  <div class="bg-white p-2 rounded-xl shadow max-w-xl mx-auto text-center">

    <h2 class="text-base font-medium text-green-600 mb-2">Payment Successful 🎉</h2>

    <p class="text-gray-600 mb-2">Your payment has been successfully processed.</p>

    <div class="space-y-2 text-left bg-gray-100 p-2 rounded-lg mb-2">
      <p><strong>Payment ID:</strong> PAY101</p>
      <p><strong>Amount Paid:</strong> ₹ 1,250</p>
      <p><strong>Order ID:</strong> #ORD1001</p>
    </div>

    <a routerLink="/shop/orders" class="bg-primary text-white px-2 py-2 rounded-lg">
      View Orders
    </a>

  </div>

</div>
