.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9; /* light gray */
  padding: 20px;
}

.auth-container {
  width: 100%;
  max-width: 420px;
}
