<div class="p-6 space-y-4">

    <h2 class="text-xl font-bold mb-4">Select Products</h2>

    <div class="grid md:grid-cols-2 gap-4">
        @for (p of products; track p.id) {

        <div class="border p-4 rounded-xl bg-white shadow flex justify-between items-center">

            <div>
                <p class="font-semibold">{{ p.name }}</p>
                <p class="text-sm text-gray-600">₹ {{ p.price }}/kg</p>
            </div>

            <div class="flex items-center gap-2">

                <button class="px-2 py-1 bg-gray-200 rounded" (click)="decrease(p)">-</button>

                <span class="w-10 text-center">
                    {{ qty()[p.id] || 0 }}
                </span>

                <button class="px-2 py-1 bg-gray-200 rounded" (click)="increase(p)">+</button>

                <button class="ml-2 bg-green-600 text-white px-3 py-1 rounded" [disabled]="(qty()[p.id] || 0) <= 0"
                    (click)="addToCart(p)">
                    Add
                </button>

            </div>
        </div>
        }
    </div>

    <button class="w-full bg-blue-600 text-white py-3 rounded mt-5" (click)="continue()">
        Continue →
    </button>

</div>