<div class="p-2 space-y-4">

  <!-- Header -->
  <div class="flex justify-between items-center">
    <h2 class="text-base font-medium">Delivery Analytics</h2>

    <div class="flex gap-2 bg-gray-100 p-1 rounded-xl">
      @for(option of filterOptions; track option) {
        <button (click)="setFilter(option)"
                class="px-2 py-2 rounded-lg"
                [ngClass]="filter() === option ? 'bg-green-600 text-white' : 'hover:bg-white'">
          {{ option | titlecase }}
        </button>
      }
    </div>
  </div>

  <!-- Summary -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-6 gap-2">
    <div class="card">Total <h1>{{ summary().totalDeliveries }}</h1></div>
    <div class="card">Delivered <h1 class="text-green-600">{{ summary().delivered }}</h1></div>
    <div class="card">Transit <h1 class="text-amber-600">{{ summary().inTransit }}</h1></div>
    <div class="card">Pending <h1 class="text-red-500">{{ summary().pending }}</h1></div>
    <div class="card">Failed <h1 class="text-purple-600">{{ summary().failed }}</h1></div>
    <div class="card">Damaged <h1 class="text-orange-500">{{ summary().damaged }}</h1></div>
  </div>

  <!-- Performance -->
  <div class="card">
    <h3 class="font-medium mb-3 text-base">Delivery Performance</h3>
    <apx-chart
      [series]="deliveryChart().series"
      [chart]="deliveryChart().chart"
      [xaxis]="deliveryChart().xaxis">
    </apx-chart>

    <apx-chart
      [series]="failedChart().series"
      [chart]="failedChart().chart"
      [xaxis]="failedChart().xaxis">
    </apx-chart>

    <apx-chart
      [series]="damagedChart().series"
      [chart]="damagedChart().chart"
      [xaxis]="damagedChart().xaxis">
    </apx-chart>
  </div>

  <!-- Avg Delivery Time -->
  <div class="card">
    <h3 class="font-medium mb-3 text-base">Average Delivery Time</h3>
    <apx-chart
      [series]="avgTimeChart().series"
      [chart]="avgTimeChart().chart"
      [xaxis]="avgTimeChart().xaxis">
    </apx-chart>
  </div>

  <!-- City Chart -->
  <div class="card">
    <h3 class="font-medium mb-3 text-base">Deliveries by City</h3>

    <!-- PIE -->
    <apx-chart
      [series]="cityShareChart().series"
      [chart]="cityShareChart().chart"
      [labels]="cityShareChart().labels">
    </apx-chart>

    <!-- BAR LIST -->
    <div class="mt-2">
      @for(city of cities(); track city.city) {
        <div class="mb-2">
          <div class="flex justify-between text-sm">
            <span>{{ city.city }}</span>
            <span>{{ getCityPercent(city.deliveries) }}%</span>
          </div>

          <div class="bg-gray-200 h-2 rounded">
            <div class="bg-blue-600 h-2 rounded"
                 [style.width.%]="getCityPercent(city.deliveries)">
            </div>
          </div>
        </div>
      }
    </div>

  </div>

  <!-- Drivers -->
  <div class="card">
    <h3 class="font-medium mb-3 text-base">Driver Ranking</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Completed</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        @for(d of drivers(); track d.driver) {
          <tr>
            <td>{{ d.driver }}</td>
            <td>{{ d.completed }}</td>
            <td>{{ d.rating }} ⭐</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

</div>
