<div class="bg-white p-2 rounded-xl shadow text-center">

  <!-- Loading State -->
  <div *ngIf="loading()" class="py-4 text-blue-600 font-semibold text-xl">
    Processing bulk orders…
  </div>

  <!-- Success State -->
  <div *ngIf="success()" class="py-4">

    <div class="text-green-600 text-4xl font-bold mb-2">✓</div>

    <h2 class="text-base font-medium mb-2">Orders Created Successfully!</h2>

    <p class="text-gray-600 mb-2">{{ count() }} bulk orders generated.</p>

    <button class="px-2 py-2 mt-2 bg-green-600 text-white rounded-lg hover:bg-green-600"
            (click)="back.emit()">
      Close
    </button>
  </div>

</div>
