<div class="p-2">

  <h2 class="text-base font-medium text-primary mb-2">Add Fruit</h2>

  <div class="bg-white p-2 rounded-xl shadow max-w-2xl">

    <!-- Form -->
    <form class="space-y-2">

      <!-- Name -->
      <div>
        <label class="block mb-1 font-semibold">Fruit Name</label>
        <input
          type="text"
          class="w-full border rounded-lg px-3 py-2"
          placeholder="Enter fruit name"
        />
      </div>

      <!-- Category -->
      <div>
        <label class="block mb-1 font-semibold">Category</label>
        <select class="animated-dropdown w-full">
          <option>Select Category</option>
          <option>Seasonal</option>
          <option>Daily</option>
          <option>Imported</option>
        </select>
      </div>

      <!-- Price -->
      <div>
        <label class="block mb-1 font-semibold">Price (₹/kg)</label>
        <input
          type="number"
          class="w-full border rounded-lg px-3 py-2"
          placeholder="Enter price"
        />
      </div>

      <!-- Upload -->
      <div>
        <label class="block mb-1 font-semibold">Fruit Image</label>
        <input
          type="file"
          class="border rounded-lg p-2 w-full"
        />
      </div>

      <!-- Status -->
      <div>
        <label class="block mb-1 font-semibold">Status</label>
        <select class="animated-dropdown w-full">
          <option>Active</option>
          <option>Inactive</option>
        </select>
      </div>

      <!-- Save Button -->
      <button class="bg-primary text-white px-2 py-2 rounded-lg">
        Save Fruit
      </button>

    </form>

  </div>

</div>
